.banner{
    width:100%; 
    height:100%; 
    background-color: rgba(106, 229, 229, 0.512);
    display:flex;
    justify-content: right;
    align-items: center;
}
.items{
    padding: 0px 20px 0px 20px;
}

a{
    color:rgb(211, 165, 80);
    font-size: 12px;
    text-decoration: none;
    font-family: arial black, sans-serif;
    }