div.tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.sidebar{
    height: 100%;
    background-color:lightgray;
    padding:8px 8px 8px 8px;
}

a{  
    color: rgb(211, 165, 80);
    font-size: 20px;
    margin-top:10px;
    text-decoration: none;
    font-family: arial black, sans-serif;
}